.header {
  background: #373277;
  color: #fff;
  margin: 0 auto;
  padding: 15px 0;

  .navbar-default{
    background-color: #373277;
    border: none;

  }
  a {
    color:#fff !important;
  }

}
.row{
    margin-right:0;
    margin-left: 0;
}